*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background: #F1E3D3;
  color: #000000;
  font-family: "Papyrus", fantasy;
  font-weight: bold
}
.big_body {
  margin:auto;
  max-width: 1100px;
  align-items: center;
}
.title {
  text-align: center;
  font-weight: bolder;
  margin-top:5vh;
}

.second_title {
  text-align: center;
  font-weight: bolder;
}
.help {
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.organize {
  left: 50%;
}
.button {
  width: 200px;
  transition: all .5s ease;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.731);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.button:hover {
  color: #F1E3D3;
  background-color: #000000
}

.test {
  color:red;
  background-color: rgba(0, 0, 0, 0.3)
}

.score_card {
  width: 200px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.731);
}
.house-card {
  width: 240px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.731);

}

.house_info {
  margin-top: 10px;
}

.house_detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail_label {
  font-size: 14px;
  color: #838a8b;
}

.detail_value {
  font-size: 16px;
  font-weight: bold;
}
.current_score {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.score_line {
  width: 200px;
  height: 2px;
  background-color: #333;
  margin: 0 auto 5px;
}
.user_score {
  font-size: 24px;
  font-weight: bold;
}
.username-input {
  margin-bottom: 15px;
  text-transform: none;
} 
form input, td input {
  width: 200px;
  transition: all .5s ease;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 9px;
  outline: none;
  border-radius: 4px;
  
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

form button {
  display: none;
}
.input:focus {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: grid;
  place-items: center;
  grid-template-columns: 20% 60% 20%;
  height: 30vh;
}
.top_row {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}
.image_buttons {
  background-color: transparent;
  border-color: transparent;
  margin-top: 40px;
}

.image {
  width: 100%;
  height: 100%;
}




/* Right arrow */
.arrow {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
}

.arrow_top,
.arrow_bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow_top::after,
.arrow_bottom::after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow_top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow_top::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow_bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow_bottom::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow_top::after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow_bottom::after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

/* LEFT ARROW  */
.arrow_left {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
  transition: transform 0.1s;
  width: 80px;
}

.arrow_top_left,
.arrow_bottom_left {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow_top_left::after,
.arrow_bottom_left::after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow_top_left {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow_top_left::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow_bottom_left {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow_bottom_left::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow_left:hover .arrow_top_left::after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow_left:hover .arrow_bottom_left::after {
  right: 0;
  transition-delay: 0s;
}

.arrow_left:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9) rotate(180deg);
}


.guessing_container {
  width: 300px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: auto;
}
.outside {
  display: flex;
  justify-content: center;
}

.house_price,
.user_guess {
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #666;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.score_earned {
  display: flex;
  flex-direction: column;
}

.result {
  font-size: 14px;
  color: #666;
}

.score-value {
  font-size: 24px;
  font-weight: bold;
  color: #00aaff;
  /* color: #F1E3D3; */
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Game over */
.game-over-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.game_over_h {
  font-size: 24px;
  margin-bottom: 10px;
}

.final-score {
  font-size: 32px;
  margin-bottom: 15px;
}

.score-value {
  font-weight: bold;
  text-align: center;
  color: #00aaff;
}




.save-button {
  margin-left: 20px;
  margin-top: 20px;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.save-button:hover {
  letter-spacing: 3px;
  background-color: #5AD1D3(261deg 80% 48%);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(24, 148, 220) 0px 7px 29px 0px;
 }
 
 .save-button:active {
  letter-spacing: 3px;
  background-color: #5AD1D3(261deg 80% 48%);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(24, 148, 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }